* {
    font-family: sans-serif;
    font-size: 18px;
   }

p {
  margin: 10px;
  padding: 5px;
  border: 3px;
}

/* All <a> elements. TYPE SELECTORS */
h1 {
  font-size: 40px;
}

.lecture {
	text-transform: uppercase;
}


.learned{
	background-color: lightgreen;
}
 
.one {

	border-block: solid lightblue;
    border-width: 1px;
}

.two { 
	border-block: solid lightblue;
	border-width: 1px;
    height: 20px;
}

.three {
	border-block: solid lightblue;
    border-width: 1px;
    height: 20px;
}

.four {
	border-block: solid lightblue;
	border-width: 1px;
	height: 20px;
}



img {
	border-radius: 50%;
	width: 150px;
    align-self: inherit;
}



/*Child selector*/
body> section > #things-to-learn > li {
	font-size: inherit;
	list-style-type: none;
    text-transform:uppercase;


}

